.blockquote{
    background-color: aquamarine;
}

.text-center{
    background-color: coral;
}

.text-end{
     background-color: coral;
}

.list-unstyled{
    background-color: darkkhaki;
}

.list-inline{
    background-color: hotpink;
}